.example-header-image {
    background-image: url("../../../assets/img/sticker-png-contact-communication-icon-arroba-icon-at-icon-email-message-internet-data-electronic-mailing-list-logo-thumbnail.png");
    background-size: cover;
}  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .err-msg{
    text-align: center;
    background-color: red;
    color: white
  }

  .btn{
    margin: 1rem;
  }